![](../images/cs101.png)
***

# 03 - Lesson : Variables and Input

# Coding Examples in This Lesson

There are many small coding examples in this lesson.  I would strongly suggest that you type these examples in Thonny (or your Python IDE) to better understand the code.

# Objectives and Goals

Students will:

- be able to use strings, integers and floats.
- be able to use the function input() to request information from an user.

# Preparation

None

# Python Coding Style

## Naming Conventions
- There are various naming conventions used in Python and other programming languages. The two common ones we will see are lowercase_with_underscore and mixedCase (aka lowerCamelCase).
- For consistency, we should stick to the mixedCase convention. Multi-word names should start with a lowercase letter, and each new word should start with a capital letter. You can never have a space within a name.
- Except for for loop variables, do not use single letter variables.

For example:
```
sumOfSquares
printHappyBirthday
totalApples
```

## Names to Avoid

- Never use the characters l' (lowercase letter el),O' (uppercase letter oh), or `I' (uppercase letter eye) as single character variable names. In some fonts, these characters are indistinguishable from the numerals one and zero.
- In general, try to avoid using single character names. There are some times when using x, y, z for axis names, or a, b, c for the sides of a triangle will make sense. For most other cases, create names that have meaning for their function.

## Spaces around Operators

Always surround these binary operators with a single space on either side: assignment (=), augmented assignment (+=, -= etc.), comparisons (==, <, >, !=, <>, <=, >=, in, not in, is, is not), Booleans (and, or, not).

**Good Examples**:

```Python
x = 9
apples = 5
name = 'John'
sum = value1 + value2
```

**Bad Examples** (Where you will lose points if you do this):

```Python
x=9
apples =5
name= 'John'
sum = value1+value2
```

***
# Lesson Details

Variables are used to hold data in a program.  We will be covering three of the basic data types in this lesson.  All variables must be given a meaningful name.

Creating and assigning variables is in the following format:

```text
    variable = value
```

Examples:

```python
age = 34
address = '101 Main st., Rexburg Idaho, 83440'
gpa = 3.76
```

# Strings Variables

String are used to contain letters or text.  In your first program 'Hello World' is a string.

### Single or double quotes

Strings must start and end with the same type of quote.  Most Python programmers use single quotes for strings.

```python
name = 'John Brown'
```

You can also use double quotes.

```python
name = "John Brown"
```

The main issue is that the quotes must match.  If you need a quote in your text, use the other type of quote for the whole string.

```python
name = "I'm John Brown"
text = 'This is a quote from John "Hello World"'
```

### String Operations

#### + Operator or Concatenation

Strings can be "added" together or concatenated.  Notice that no spaces are added between the strings.

In [1]:
text1 = 'abc'
text2 = '123'
newText = '***' + text1 + text2 + '***'
print(newText)

***abc123***

#### [] Operator

The square brackets are used to access letters or a sub-string in a string.  Remember that programmers start counting from zero.

In [2]:
name = 'John'
print('The first letter in {} is {}'.format(name, name[0]))

The first letter in John is J

# Integers Variables

An integer represents a whole number - both negative and positive.  They are used in programs when fractions are not needed.

```python
apples = 5
temperature = -8
studentsInClass = 40
```

### Displaying Integers

Displaying integers is like displaying strings.

In [3]:
# display two numbers
print(34, 23)

34 23

In [4]:
# Display the sum of two numbers
print(34 + 23)

57

In [5]:
# Display an integer with thousands' commas
value = 123456789
print('{:,}'.format(value))

123,456,789

In [6]:
# Display an integer centered within 20 spaces
# This is like centering a string from last lesson.  
# Notice the 'd' in the format section.  It tells Python to format the value as an integer.
value = 123456789
print('{:^20d}'.format(value))

     123456789

### Integer Math

You can do math operations on integers.  The results are different than normal math you learned in school.  The results of adding, subtracting and multiplication of two integers is always an integer.  Division is different, see below in the lesson.

**Adding, subtracting and multiplication**

In [7]:
# Addition
print('The sum of 34 + 23 is:', 34 + 23)

The sum of 34 + 23 is: 57

In [8]:
# Addition
print('The sum of 34 + 23 + 99 + 12 is:', 34 + 23 + 99 + 12)

The sum of 34 + 23 + 99 + 12 is: 168

In [9]:
# Subtraction
print('The difference of 34 - 23 is:', 34 - 23)

The difference of 34 - 23 is: 11

In [10]:
# Multiplication
print('The product of 34 * 23 is:', 34 * 23)

The product of 34 * 23 is: 782

In [11]:
# +, - and *
# Notice the order of operations.  * and / are evaluated before + and -
print('The product of 99 + 2 * 4 / 3 is:', 99 + 2 * 4 / 3)

The product of 99 + 2 * 4 / 3 is: 101.66666666666667

In [12]:
# +, - and * with parentheses
print('The product of ((99 + 2) * 4) / 3 is:', ((99 + 2) * 4) / 3)

The product of ((99 + 2) * 4) / 3 is: 134.66666666666666

### Integer Division

There are two division operators that you can apply to integers.

/ or Division Operator

This operator results in a float as the answer.

In [13]:
print(20 / 3)

6.666666666666667

In [14]:
# Division
print('The results of 34 / 23 is:', 34 / 23)

The results of 34 / 23 is: 1.4782608695652173

// or floor Operator

This operator results in an integer as the answer where it represents the whole part of the division.

In [15]:
# "How many whole 3s are there in 20?"
print(20 // 3)

6

In [16]:
# Division
print('The results of 34 // 23 is:', 34 // 23)

The results of 34 // 23 is: 1

### Modulo Operator

There are times when a programmer needs to know the remainder of a division as a whole number or integer.  This remainder operator is called the modulo operator.  It is the percent symbol %.

In [17]:
# total number of minutes
minutes = 128

# Number of hours in the above minutes
hours = minutes // 60

# number of remaining minutes
remainingMinutes = minutes % 60

print('hours =', hours)
print('remaining minutes =', remainingMinutes)

hours = 2
remaining minutes = 8

# Float  Variables

A float or floating point number is used for holding numbers that have a decimals.  In math, is it also called a real number.

```python
exchangeRate = 1.07
pi = 3.14159
temperature = -10.3
```

### Float Math

You can do math operations on floats. The operators +, -, * and / all result in a float for the answer.

In [18]:
# Division
print('The results of {} / {} is: {}'.format(34.0, 23.0, 34.0 / 23.0))

The results of 34.0 / 23.0 is: 1.4782608695652173

In [19]:
# Addition
print('The results of {} + {} is: {}'.format(34.0, 23.0, 34.0 + 23.0))

The results of 34.0 + 23.0 is: 57.0

In [20]:
# Subtraction
print('The results of {} - {} is: {}'.format(34.0, 23.0, 34.0 - 23.0))

The results of 34.0 - 23.0 is: 11.0

In [21]:
# Multiple
print('The results of {} * {} is: {}'.format(34.0, 23.0, 34.0 * 23.0))

The results of 34.0 * 23.0 is: 782.0

In [22]:
# Division - Display with 2 decimal points
print('The results of {} / {} is: {:.2f}'.format(34.0, 23.0, 34.0 / 23.0))

The results of 34.0 / 23.0 is: 1.48

In [23]:
# Division - Display with 4 decimal points
print('The results of {} / {} is: {:.4f}'.format(34.0, 23.0, 34.0 / 23.0))

The results of 34.0 / 23.0 is: 1.4783

## Changing the value of a variable

Assigning a value to a variable is very easy to do.  You give the variable a name that represents what will be held by the variable and you use the equal character to assign it.

In [24]:
# Assign different variables
name = 'John'
studentsInCourse = 43

You are free as a programmer to change any variables that you are using.  The following are examples of changing variables:

In [25]:
# Create variable age and then add one to it
age = 23
print(age)

# Here, the variable age will be re-assigned to be "age + 1"
# This format is used to add one to a variable
age = age + 1
print('new age value 1 =', age)

# There is a short cut for adding to a variable
# It is using the "operator =" format
# There is "-=" to subtract, "+=" to add, "*=" to multiply and "/=" to divide
age += 1
print('new age value 2 =', age)

23
new age value 1 = 24
new age value 2 = 25

In [26]:
# Adding to a float
gpa = 3.45
print(gpa)
gpa = gpa + 0.3             # or gpa += 0.3
print('new gpa =', gpa)

3.45
new gpa = 3.75

In [27]:
# Multiplying a variable
number = 123
print(number)
number = number * 5             # or number *= 5
print('new number =', number)

123
new number = 615

In [28]:
# Dividing a variable
number = 123345.234
print(number)
number = number / 456.87           # or number /= 456.87
print('new number =', number)

123345.234
new number = 269.9788429969138

In [29]:
# Adding values to total them
number1 = 10
number2 = 100
number3 = 1000
total = (number1 + number2 + number3)
print('total =', total)

total = 1110

# Boolean  Variables

The last data type for this lesson is called a bool or boolean.  Bools are either `False` or `True`.  Notice that `False` and `True` are capitalized.

```python
sunnyOutSize = True
oldEnoughToVote = False
isLightOn = True
```

In [4]:
# Using and printing booleans
happy = True
knowit = False
print('Are you happy:', happy)
print('Do you knowit:', knowit)

Are you happy: True
Do you knowit: False

***
# Requesting information

The next section of the lesson covers the functions input().  input() is used to prompt the user for information.

## input() function

The input() function:
1. reads a line from input when the Enter key is pressed.
1. converts into a string.
1. and returns it.

The syntax of input() method is where prompt is a text string:
```python
variable = input([prompt])

name = input('Enter your name: ')
```

In [30]:
# Example of asking the user for a color using a variable
color = input('Enter your favorite color: ')
print('The color you entered was {}'.format(color))

Enter your favorite color: Blue
The color you entered was Blue

In [31]:
# Example of asking the user for a color where the answer goes directly
# into the format() function.
print('The color you entered was {}'.format(input('Enter your favorite color:')))

Enter your favorite color:Blue
The color you entered was Blue

## Input Data Types

The function input() will return a **string** for anything prompted to the user.  This means that when you prompt the user for a number, that number will be returned as a string.  The type() function tells the programmer what data type a variable is.

In [32]:
# Prompt user for a number and display it's type
value = input('Enter a number:')
print('value is', value)
print('The data type of value is', type(value))
print('The data type of 34 is', type(34))

Enter a number:34
value is 34
The data type of value is <class 'str'>
The data type of 34 is <class 'int'>

The **"<class 'str'>"** tells the programmer that the variable "value" is a string not an integer. **"<class 'int'>"** indicates that a variable is an integer.  **"<class 'float'>"** is for floats.

You can convert an integer and float to a string using the **str()** function.  Here are some coding examples:

In [33]:
# Convert integer to string
age = 34
ageAsString = str(age)
print(age, ageAsString)

# Convert float to string
gpa = 3.45
gpaAsString = str(gpa)
print(gpa, gpaAsString)

print('age is        :', type(age))
print('ageAsString is:', type(ageAsString))
print('gpa is        :', type(gpa))
print('gpaAsString is:', type(gpaAsString))

34 34
3.45 3.45
age is        : <class 'int'>
ageAsString is: <class 'str'>
gpa is        : <class 'float'>
gpaAsString is: <class 'str'>

**Integers**

In order to have a variable that is an integer when prompting information from the user, you must use the function **int()**.  It will convert a string representation of a number to a number.  In most cases, the function int() is used "around" the input function.  See the coding example below.

In [34]:
# Prompt user for a number and display it's type
value = int(input('Enter a number:'))
print('value is', value)
print('The data type of value is', type(value))

Enter a number:23
value is 23
The data type of value is <class 'int'>

**floats**

If you want to prompt the user for a float, you can use the function **float()** to convert the string to a float.

In [35]:
# Prompt user for a number and display it's type
value = float(input('Enter a number:'))
print('value is', value)
print('The data type of value is', type(value))

Enter a number:34
value is 34.0
The data type of value is <class 'float'>

## Builtin String and Math functions

### len() function

This is a very useful function that returns the length of a string.  Later in the course, we will be using this function with lists.

In [36]:
name = 'John Smith'
print(len(name))

10

### abs() function

This function converts a number to the positive version of itself.

In [37]:
value = -123.456
print(value)
print(abs(value))

-123.456
123.456

### max() function

This function returns the largest value from a group of values

In [38]:
print(max(12, 23, 34, 45, 9))

45

In [39]:
print(max(12, 23))

23

### min() function

This function returns the smallest value from a group of values

In [40]:
print(min(12, 23, 34, 45, 9))

9

In [41]:
print(min(12, 23))

12

### pow() function

This function is the power function.  It allows you to calculate the results of raising a value to a power.  The same feature of raising a value to a power can be done using two '*' characters.

In [42]:
# Display 34 to the 4th power
print('pow(34, 4) =', pow(34, 4))
print('34 ** 4    =', 34 ** 4)

pow(34, 4) = 1336336
34 ** 4    = 1336336

### sum() function

This function till sum or total a group of values.  **Note** that the group of numbers must be surrounded by **()** or **[]** in order for the sum() function to work.

In [43]:
print(sum((1, 2, 3, 4, 5, 6, 7, 8, 9, 10)))
print(sum([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))

55
55

### round() function

This function is helpful when you need to round float numbers.  The function takes two arugments or values, 1) the number to round and 2) the number of decimal points to round to.

In [44]:
value = 123.4567890
print('Round to 0:', round(value, 0))
print('Round to 1:', round(value, 1))
print('Round to 2:', round(value, 2))
print('Round to 3:', round(value, 3))

Round to 0: 123.0
Round to 1: 123.5
Round to 2: 123.46
Round to 3: 123.457

# Lesson Review

There are three main variable types in Python: integer, float, bool and string.  The function input() is the main method that Python programmers how to get information directly from the user.  Remember that the results from the input() function is always a string.  You can use **int()** and **float()** to convert those results.